<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Disc Vault</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <% console.log('User:', user); %>
        <%- include('partials/header', { title: 'Home Page' , user: user }) %>

            <div class="container mt-5">
                <h1>Welcome to the Disc Vault</h1>
                <p>This app helps disc golf enthusiasts manage their disc collections and track their inventory. Users
                    can
                    add new
                    discs, update existing ones, and keep track of disc usage and availability. Dive into your disc
                    vault
                    journey now!</p>
                <% if (user) { %>
                    <div style="width: 100%; display: flex;">
                        <a href="/disc-management" style="width: 33.3%; display: flex;"><button class="btn btn-primary"
                                style="width: 100%; display: flex; justify-content: center;">Discs</button></a>
                        <a href="/bag-management" style="width: 33.3%; display: flex;"><button class="btn btn-primary"
                                style="width: 100%; display: flex; justify-content: center;">Bags</button></a>
                        <a href="/profile" style="width: 33.3%; display: flex;"><button class="btn btn-primary"
                                style="width: 100%; display: flex; justify-content: center;">Profile</button></a>
                    </div>
                    <hr>
                    <a href="/suggestion"><button class="btn btn-secondary">Leave a suggestion</button></a>

                    <% } %>
            </div>

            <!--<%- include('partials/footer') %>-->

</body>

</html>