<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Disc Golf Inventory</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <% console.log('User:', user); %>
        <%- include('partials/header', { title: 'Home Page' , user: user }) %>

            <div class="container mt-5">
                <h1>Welcome to Disc Golf Inventory</h1>
                <p>This app helps disc golf enthusiasts manage their disc collections and track their inventory. Users
                    can
                    add new
                    discs, update existing ones, and keep track of disc usage and availability. Dive into your disc golf
                    management
                    journey now!</p>
            </div>

            <%- include('partials/footer') %>

</body>

</html>